{% extends 'blog/_base.html'%}
{% block title %}
FaceBlog log in or sign up
{% endblock %}
{% block content %}
<style>
  .navbar {
    display: none;
  }
</style>
<div class="container login-container">
  <div class="login-card">
    <div class="login-form">
      <h1 class="big-logo">FaceBlog</h1>
      {% for message in messages %}
          <div class="message {{ message.tag }}">
              <strong>{{ message }}</strong>
          </div>
      {% endfor %}
      {% for error in login_form.non_field_errors %}
        <div class="message">
          <strong>{{ error }}</strong>
        </div>
      {% endfor %}
      <form action="" method="post">
        {% csrf_token %}
        {{ login_form.username_or_email }}
        {{ login_form.password }}
        <input class="btn btn-success form-control form-control-margin" type="submit" value="Log In">
        <p>Forgot Password? <a class="no-underline" href="{% url 'password_reset' %}">Click here</a></p>
        <p>Don't have an account? <a class="no-underline" href="{% url 'signup' %}">Sign up</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}