{% extends "blog/_base.html" %}
{% block content %}
<style>
  .navbar {
    display: none;
  }
</style>
<div class="form-content d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6" style="max-width:500px;">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header">
                        <div id="error_div"></div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            {% if request.user.is_authenticated %}
                                <button 
                                    id="goBack"
                                    class="btn p-1 font-sm border-0 me-2">
                                    <i class="bi bi-arrow-left-circle-fill"></i>
                                </button>
                            {% endif %}
                            <h3>Reset Password</h3>
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                  <label class="small mb-1" for="id_email">Email</label>
                                    <input type="email" name="email"  class="form-control mb-2"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                            <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                <div class="form-group mt-0 mb-1">
                                    <button type="submit" class="col-12 col-md-12 btn btn-success">Submit
                                    </button>
                                </div>
                             </div>
                           </div>
                        </form>
                    </div>
                    {% if not request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <div class="small d-flex flex-column">
                                <div>
                                    <a class="btn text-primary p-0 border-0 " href="{% url 'signup' %}">Create A New Account</a>
                                </div>
                                <div>
                                    <a class="btn text-primary p-0 border-0" href="{% url 'new_login' %}">Back To Login</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}