body {
  background-color: #f7fffb;
}

.form-control-margin {
  margin-bottom: 5px;
}

.no-underline {
  text-decoration: none;
}

.p-10 {
  padding: 8rem;
}

/* Navbar */

.nav-btn, line {
  color: #198754;
}

.btn-logout, .nav-btn {
  padding: 1px;
  margin: 5px 11px 5px 1px;
}

.big-logo {
  font-size: 45px;
  font-family: "Playwrite AR", cursive;
}