{% extends 'blog/_base.html' %}
{% load static %}
{% block content %}

<h2>{{user.username}}</h2>
<a href="{% url 'profile-followers' user.username %}">Followers</a>: {{followers.count}}<br>
<a href="{% url 'profile-following' user.username %}">Following</a>: {{following.count}}<br>
Posts: {{posts.count}}
<form action="{% url 'profile-update' user.profile.pk %}" method="GET">
  <button type="submit">Edit Profile</button>
</form>
  {% if user.profile.profile_picture %}
      <img src="{{ user.profile.profile_picture.url }}"
        alt="{{ user.username }}" width="200px" height="200px">
  {% else %}
      <img src="{% static 'blog/default.jpg' %}"
        alt="{{ user.username }}" width="200px" height="200px">
  {% endif %}
  <p><strong>{{user.first_name}} {{user.last_name}}</strong></p>
  <p>Bio: {{user.profile.bio}}<br>
  <a href="{% url 'post-create' %}">Add New Post</a>
  {% if posts %}
    <p>These are your posts</p>
    <hr>
  {% else %}
    <p>You haven't post anything yet</p>
  {% endif %}
  <ul>
    {% for post in posts %}
    <li>Author: <a href="{% url 'dashboard' %}">{{user.username}}</a></li>
    <li>Title: {{post.title}} </li>
    {% if post.img %}
      <img src="{{post.img.url}}" alt="{{post.title}}" width="200px" height="200px">
    {% else %}
      <li>No Image Available</li>
    {% endif %}
    <li>Likes: {{ post.likes_count }}</li>
    <li>{{post.posted_date|timesince}} ago</li>
    <li>Description: {{post.description}}</li>
    <form class="form-container" action="{% url 'post-like' post.pk%}" method="POST">
      {% csrf_token %}
      <button type="submit">
        {% if post.id in liked %}
          Unlike
        {% else %}
          Like
        {% endif%}
      </button>
    </form>
    <form class="form-container" action="{% url 'comments' post.id %}" method="GET">
      {% csrf_token %}
      <button type="submit">Comments</button>
    </form>
    <a href="{% url 'post-update' post.pk %}">Edit</a>
    <a href="{% url 'post-delete' post.pk %}">Delete</a>
    <hr>
    {% endfor %}
  </ul>
{% endblock %}
