{% extends 'blog/_base.html'%}
{% load static %}
{% block content%}
{% if user.is_authenticated and user.username == external_user.username %}
      <meta http-equiv="refresh" content="0; URL={% url 'dashboard' %}">
{% else %}
{% if not external_user %}
  <h2>The page or user "{{user_input}}" does not exist</h2>
{% else %}
<h2><strong>{{external_user.username}}</strong></h2>
<a href="{% url 'profile-followers' external_user.username %}">Followers</a>: {{followers.count}}<br>
<a href="{% url 'profile-following' external_user.username %}">Following</a>: {{following.count}}<br>
Posts: {{posts.count}}</p>
{% if request.user.is_authenticated%}
<form action="{% url 'follow-unfollow' profile.id %}" method="POST">
  {% csrf_token %}
  <button type="submit">
    {% if is_follower %}
      Unfollow
    {% else %}
      Follow
    {% endif %}
  </button>
</form>
{% else %}
  <form action="{% url 'follow-unfollow' profile.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Follow</button>
  </form>
{% endif %}
  {% if external_user.profile.profile_picture %}
      <img src="{{external_user.profile.profile_picture.url}}" alt="{{external_user.username}} profile picture" width="200px" height="200px">
  {% else %}
      <img src="{% static 'blog/default.jpg' %}" alt="{{ user.username }}" width="200px" height="200px">
  {% endif %}
  <p><strong>{{external_user.first_name}} {{external_user.last_name}}</strong></p>
  <p>Bio: {{external_user.profile.bio}}<br>

  {% if posts %}
    <p><strong>These are {{external_user.username}}'s posts</strong></p><hr>
  {% else %}
    <p><strong>{{external_user.username}} has not post anything yet</strong></p>
{% endif %}
  <ul>
    {% for post in posts %}
    <li>Author: <a href="{% url 'external-user-profile' external_user %}">{{external_user.username}}</a></li>
    <li>Title: {{post.title}} </li>
    {% if post.img %}
      <img src="{{post.img.url}}" alt="{{post.title}}" width="200px" height="200px">
    {% else %}
      <li>No Image Available</li>
    {% endif %}
    <li>Likes: {{post.likes_count}}</li>
    <li>Posted: {{post.posted_date}}</li>
    <li>Description: {{post.description}}</li>
    <form action="{% url 'post-like' post.pk%}" method="POST">
      {% csrf_token %}
      <button type="submit">
        {% if post.id in liked %}
          Unlike
        {% else %}
          Like
        {% endif%}
      </button>
    </form>
    <form action="{% url 'comments' post.id %}" method="GET">
      {% csrf_token %}
      <button type="submit">Comments</button>
    </form>
    <hr>
    {% endfor %}
  </ul>
{% endif%}
{% endif %}
{% endblock %} 