{% extends 'blog/_base.html'%}
{% load static %}
{% block content%}
{% if user.is_authenticated and user.username == external_user.username %}
      <meta http-equiv="refresh" content="0; URL={% url 'dashboard' %}">
{% else %}
{% if not external_user %}
  <h2>The page or user "{{user_input}}" does not exist</h2>
{% else %}
  <p><strong>{{external_user.username}}</strong></p>
  {% if external_user.profile.profile_picture %}
      <img src="{{external_user.profile.profile_picture.url}}" alt="{{external_user.username}} profile picture" width="200px" height="200px">
  {% else %}
      <img src="{% static 'blog/default.jpg' %}" alt="{{ user.username }}" width="200px" height="200px">
  {% endif %}
  <p><strong>{{external_user.first_name}} {{external_user.last_name}}</strong></p>
  <p>Bio: {{external_user.profile.bio}}</p>
  {% if posts %}
    <p><strong>These are {{external_user.username}}'s posts</strong></p><hr>
  {% else %}
    <p><strong>{{external_user.username}} has not post anything yet</strong></p>
{% endif %}
  <ul>
    {% for post in posts %}
    <li>Title: {{post.title}} </li>
    {% if post.img %}
      <img src="{{post.img.url}}" alt="{{post.title}}" width="200px" height="200px">
    {% else %}
      <li>No Image Available</li>
    {% endif %}
    <li>Likes: {{post.total_likes}}</li>
    <li>Posted: {{post.posted_date}}</li>
    <li>Posted Hour(Server Time): {{post.posted_hour_server}}</li>
    <li>Posted Hour(Client Time): {{post.posted_hour_client}}</li>
    <li>Description: {{post.description}}</li>
    <form action="{% url 'post-like' post.pk%}" method="POST">
      {% csrf_token %}
      {% if user in post.likes.all %}
      <button type="submit">Unlike</button>
      {% else %}
      <button type="submit">Like</button>
      {% endif %}
    </form>
    <hr>
    {% endfor %}
  </ul>
{% endif%}
{% endif %}
{% endblock %} 